VITE_TOUR_API_URL=https://<alb-dns>/api
VITE_TOUR_API_BASE=https://<alb-dns>

VITE_BOOKING_API_URL=https://<alb-dns>/api
VITE_BOOKING_API_BASE=https://<alb-dns>

VITE_IDENTITY_API_URL=https://<alb-dns>/api
VITE_IDENTITY_API_BASE=https://<alb-dns>